JWT_SECRET=H7tO2XoktO0EBVKjGL/sWTdhzUcGjya17wSl0T1ur64=
REFRESH_TOKEN_SECRET=5dpwdsF35p7+90YNhZQ+Uyyuc5QytDqLZJgx2IH24bo=
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=ytrewq321
MYSQL_DATABASE=seal_chat
USE_MOCK=false